@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
@model List<Models.AdminUser>

@section scripts {
    <script>
        $(function () {
            // 预加载
            $('#time').text(getNowFormatDate());
            setInterval(function () {
                $('#time').text(getNowFormatDate());
            }, 1000);
            ticktime();
            // 定时刷新
            var sec = new Date().getSeconds();
            setTimeout(function () {
                $('#img').empty();
                ticktime();
                setInterval(function () {
                    $('#img').empty();
                    ticktime();
                }, 60 * 1000);
            }, (60 - sec) * 1000);
        });

        function getNowFormatDate() {
            var sep1 = "-";
            var sep2 = ":";
            var date = new Date();
            var month = getPrefix(date.getMonth() + 1);
            var strDate = getPrefix(date.getDate());
            var currentdate = date.getFullYear() + sep1 + month + sep1 + strDate
                    + " " + getPrefix(date.getHours()) + sep2 + getPrefix(date.getMinutes())
                    + sep2 + getPrefix(date.getSeconds());
            return currentdate;
        }

        function ticktime() {
            var date = new Date();
            var img = 'http://static.qpanpan.cn/images/mm/'
                + getPrefix(date.getHours()) + '_'
                + getPrefix(date.getMinutes()) + '.jpg';
            $('#img').attr('src', img);
        }

        function getPrefix(value) {
            return value < 10 ? '0' + value : value;
        }
    </script>
}


<!--图片区-->
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <p class="text-center" id="time"></p>
                        <img class="center-block" id="img" src="http://panpan.b0.upaiyun.com/images/mm/18_33.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>