@{
    ViewBag.Title = "欧美外包3D相册馆";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <meta name="HandheldFriendly" content="true" />
    <meta name="msvalidate.01" content="B6C713C1F4E407129EDEF7810A8B9BCB" />
    <meta name="keywords" content="canvas,3D,perspective,texturing,gallery" />
    <link rel="stylesheet" href="http://static.qpanpan.cn/Scripts/css/slider-wb.css" />
}
@section scripts {
    <script src="http://static.qpanpan.cn/Scripts/js/ge1doot.js"></script>
    <script src="http://static.qpanpan.cn/Scripts/js/3dImges.js"></script>
    <script>
        var array = [];
        for (var i = 1; i <= 12; i++) {
            array.push('wb' + i + '.jpg');
        }
        imgConfig3D(array);
    </script>
    <script src="http://static.qpanpan.cn/Scripts/js/imageTransform3D.js"></script>

    <script>
        $(function () {
            $('canvas').siblings().hide();
            $('body > ul').show();
        });
    </script>
}


<ul class="nav nav-pills">
    <a class="glyphicon glyphicon-home" href="/Camera/TakePicture">Home</a>
</ul>


<!--图片区-->
<canvas style="cursor: move;" height="Me.Width / Screen.TwipsPerPixelX " width="Me.Height / Screen.TwipsPerPixelY" id="canvas"></canvas>
